<div ng-controller="AdminController as adminController">
	<div class="span9" id="content">
		<div class="row-fluid">
			<div class="block">
				<div class="navbar navbar-inner block-header">
					<div class="muted pull-right"></div>
				</div>
			</div>
			<!-- block -->
			<div class="block">
				<div class="navbar navbar-inner block-header">
					<div class="muted pull-left">Job options</div>
				</div>
				<div class="block-content collapse in">
					<div class="span12">
						<table class="table" ng-repeat="paramGroup in adminController.parameters.groups">
							<thead>
								<tr><td colspan="2">{{paramGroup.labelKey}}</td></tr>
								<tr>
									<th>Param name</th>
									<th>Param value</th>
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat="param in paramGroup.parameters">
									<td>{{param.name}}</td>
									<td><input type="text" name="{{param.name}}-value" value="{{param.value}}" /></td>
								</tr>
							</tbody>
						</table>
						
						<button type="submit" value="Save" ng-click="adminController.saveParams()">Save</button>
						<br><br><br>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>